 
{% extends 'pannels.html.twig' %}

{% block title %}media{% endblock %}
 
{% block backendBody %}
<h1>
  External media
</h1>
 <div class="media">
     <div class="media-wrapper">
     <iframe src="https://media.lavour.es/" class="media-wrapper-iframe"> </iframe>
</div>
</div>
{% endblock %}


 

