 
{% extends 'pannels.html.twig' %}

{% block title %}pages{% endblock %}
 
{% block backendBody %}
<h1>
  listado de paginas
</h1>
{% if status == 'Pagina eliminada' %}
<span>⭕️ Pagina eliminada!</span> 
<script>
setTimeout(()=>{
 window.location.reload();
},3000)
</script>
{% endif %}
    
{# {% if status == 'Pagina eliminada' %} 
 {% redirect "app_listpage" %}
{% endif %} #}

 <div class="listpages">  
     <div class="listpages-wrapper">
      
   <table class="listpages-wrapper_table">
        <thead>
          <tr>
            <td>
              title
            </td>  
            <td>
              see
            </td>
            <td>
              eddit
            </td>
            <td>
              delette
            </td>
          </tr>
        </thead>

        <tbody>
        {% if pageList %}
           {% for pages in pageList %}
               <tr>
                <td>{{ pages.title }}</td>
                <td>see</td>
                <td>
                <a href="{{
                    path(
                      'app_edditpage',
                      { 
                        type: 'eddit',
                        pageId: pages.id
                      }
                    )
                    }}">
                     eddit
                  </a>
                  </td>
                <td><a class="delettePostFromId" href="{{
                    path(
                      'app_listpage',
                      { 
                       
                        pageId: pages.id
                      }
                    )
                    }}">
                     delette
                  </a></td>
               </tr>
           {% endfor %}
         {% endif %}
        </tbody>

         <tfoot>
           <tr>
            <td>
              title
            </td>  
            <td>
              see
            </td>
            <td>
              eddit
            </td>
            <td>
              delette
            </td>
          </tr>
        </tfoot>
        </table>


</div>
</div>
{% endblock %}