@import '../general.scss';
.pages {
     &-wrapper{
        width: 98%; 
        margin: 2% auto;
        &-form{
            &-form{
              &-title, &-friendytitle, &-heroImage{
                span{
                  p{
                    font-size: $linksize; 
                  }
                } 
                input {
                  width: 100%;
                  min-height: 30px;
                  border: solid 1px lightgray;
                 }
              } 
              &-html{
                margin-top: 20px;
              }
              &-btn{
                input{
                  @include submitButton;
                }
              }
            }
        }
     }
}

// font-size: 18px;