<header id="header">
<a href="{{ path('app_home') }}"><img src="{{ asset('images/valour_logo.png') }}" alt="riardo perez logo"/></a>
 <nav class="topSection">
   <a href="/logout">salir <i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
 </nav>
</header>