.seepost {
    width: 99%;
    height: 100vh;
    overflow: auto;
    &_wrapper {
        margin: 10px auto;
        background: rgb(255, 255, 255);
        width: 80%;
        max-width: 1300px;
        &_title{
            padding: 20px;
            h1{
                font-size: 1.5em;
                color: #196887;
              }
          }
         &_date {
            padding: 0 20px;
          }
          &_image {
            padding: 20px;
            width: 95%;
           
            img{
                width: 100%!important;
                height: auto; 
              }
          }
          &_body {
            padding: 40px 20px;
            box-sizing:  content-box;
            p{
              margin: 15px 0;
              font-size: .7em;
              img{
                width: unset !important;
                float: left;
                margin: 0 40px 0 0;
              }
            }
           
            strong{
              color: #0EA7A3;
            }
            img{
              margin: 30px auto;
              display: block;
              width: 100%!important;
              height: auto!important;
            }
            ol{
              margin: 20px 0;
              padding:0 0 0 40px;
              li{
                font-size: .8em;
                list-style: auto;
              }
              
            }
            pre {
              background: #414141;
              color: #f3ff00;
              padding: 30px;
              margin: 30px 0;
              font-family: monospace;
              overflow: auto;
          }
             
          } 
    }
  }
.customblockquote {
  padding: 20px;
  background: #f3f2f2;
  font-style: italic;
  border-left: solid 10px #cacaca;
  display: block;
  font-size: 1em;
  margin: 50px 0;
}

section.DowbleElement4060 {
  display: flex;
}
.DowbleElement-left{
  width:40%;
}
.DowbleElement-left img{
  width:80%!important;
}
.DowbleElement-right{
  width:60%;
}
 
 