<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;700;800&display=swap" rel="stylesheet"> 
       
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}

      {% block javascripts %} 
       {{ encore_entry_script_tags('js/main') }}
     {% endblock %}
    </head>
    <body>
 
        {% block body %}{% endblock %}
    </body>
</html>
