{% extends 'pannels.html.twig' %}

{% block title %}™️ Home Pannel!{% endblock %}

{% block backendBody %}

<h1>
Hola desde pannesl el primer elemento
</h1>

<div class="home">
  <div class="home_wrapper"> 
    <div class="home_wrapper-ul">
        <li>
           <button><a href="/blog/newblog"> crear nuevo blog</a></button>
        </li>
    </div>
    
</div>
</div>

{% endblock %}
