{% extends 'pannels.html.twig' %}

{% block title %}™️ Home Pannel!{% endblock %}

{% block backendBody %}

<h1>
Hola desde pannesl el primer elemento
</h1>
<button><a href="/blog/newblog"> crear nuevo blog</a></button>
{% endblock %}
