{% extends 'base.html.twig' %}

{% block title %}Hello NewproductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1100px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    body ul{
  width: 100%;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  
}
body ul li{
  padding: 10px;
  border: solid 1px;
  list-style: none
}
</style>
  {# {{ dump(data) }} #}
<div class="example-wrapper">
 <ul>
  {% for items in data %}
   <li>
    <p>{{ items.id }}</p>
    <b>{{ items.name }}</b>
   </li>
  {% endfor %}
 </ul>
    
</div>
{% endblock %}
