@import '../general.scss';
.newblog {
    &_wrapper{
        padding: 10px 20px 0 0;
        &-form{
            display: flex;
            justify-content: space-between;
            &-left{
                width: 70%; 
                &-title{
                    margin-bottom:10px;
                    display: flex;
                    flex-direction: column;
                    label{
                        display: block;
                        font-size:   $linksize;
                        margin-bottom: 10px;
                      }
                      input{
                        height: 35px;
                        background: white;
                        border: solid 1px $inputBorderColor;
                        padding: 0 5px;
                        font-size:   $linksize;
                        
                      }
                      p{
                        font-size: $smallText;
                        color: $lightGrayText;
                        
                      }
                }
                &-htmlarea{
                    label{
                        display: block;
                        font-size:   $linksize;
                        margin-bottom: 10px;
                      }
                      p{
                        font-size: $smallText;
                        color: $lightGrayText;
                        
                      }
                }
              }
            &-right{
                width: 28%; 
                &-items{
                   &-imageSelector {
                    margin-bottom: 20px;
                    &-show{
                        background: #e3e3e3;
                        display: block;
                        height: 200px;
                      }
                      &-help{
                        font-size: $smallText;
                        color: $lightGrayText;
                        margin-bottom: 10px;
                      }
                      &-button{
                        background: $pannelBg;
                        border: none;
                        display: block;
                        width: max-content;
                        line-height: 35px;
                        font-size: 18px;
                        color: white;
                        padding: 0 20px;
                        border-radius: 3px;
                        cursor: pointer;
                        &:hover{
                            background: $backgroundLingk;
                        }
                      }
                 }
                }
              }  
          }
      }
}
  
 